@import '../../../styles.scss';
@import '../../app.component.scss';
:host {
    cursor: pointer;
    background-color: map-get($mat-red, 700);
    border-radius: 5px;
    > div {
        padding: 10px;
    }
}
.blurb-section {
    text-align: left;
}
h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
.timeline {
    opacity: .65;
    margin-bottom: 5px;
}
img {
    width: 50px;
    height: 50px;
}
li {
    font-size: 0.9em;
    margin-bottom: 10px; 
}
@media screen and (min-width: $xs) {
    img {
        width: 100px;
        height: 100px;
    }
}
