<div fxLayout.xs="column" fxLayout.gt-xs="row">
    <nav 
        (headingSelected)="selectedHeading=$event" 
        [sectionHeadings]="getHeadings()" 
        fxLayout="column" 
        fxLayoutAlign="space-around center start">
    </nav>
    <about *ngIf="selectedHeading==='About' || !selectedHeading"></about>
    <education *ngIf="selectedHeading==='Education'"></education>
    <experience *ngIf="selectedHeading==='Experience'"></experience>
    <leadership *ngIf="selectedHeading==='Leadership'"></leadership>
</div>