
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;
$xl: 5000px;

.body- {
    &background {
        z-index: -1;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: black;
        background-image: url('/../assets/me.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        +* {
            max-height: 100vh;
            overflow: hidden;
            overflow-y: scroll;
        }
    }
    &container {
        position: relative;
        margin: 1em;
    }
}

@media screen and (min-width: $md) {
    :host > div {
        font-size: 1.3em !important;
    }
}
@media screen and (min-width: $sm) {
    :host {
        font-size: 1.2em !important;
    }
}
@media screen and (min-width: $xs) {
    nav {
        height: 100vh;
    }
}
@media screen and (max-width: $xs) {
    div {
        font-size: 1em !important;
    }
    nav {
        width: 100vw;
    }
}